# Lecture Notes 10.5

#### Leo Wheeler

## Objectives

1. Introduce lists


- Lists can contain other lists
- Because they are a sequence of objects, we can index them just like with strings

In [1]:
x = ["a", "b", "c", [1, 'cat', 2, 'bat', 3, 'hat']]

In [2]:
x[0]

'a'

In [3]:
x[3]

[1, 'cat', 2, 'bat', 3, 'hat']

In [4]:
x[3][0]

1

In [5]:
x[3][3]

'bat'

- We can create blank lists

`y = []`

In [6]:
y = []

In [7]:
type(y)

list

In [8]:
y

[]

- Again, beacause these are sequences of objects we can use a lot of functions on them

In [9]:
for item in x:
    print(item)

a
b
c
[1, 'cat', 2, 'bat', 3, 'hat']

In [10]:
print(x)

['a', 'b', 'c', [1, 'cat', 2, 'bat', 3, 'hat']]

In [11]:
len(x)

4

In [13]:
for index in range(len(x)):
    print(index, ":", x[index])

0 : a
1 : b
2 : c
3 : [1, 'cat', 2, 'bat', 3, 'hat']

In [14]:
n = 0
while n < len(x):
    print(n, ":", x[n])
    n = n + 1

0 : a
1 : b
2 : c
3 : [1, 'cat', 2, 'bat', 3, 'hat']

## Operations with Lists

- Just like with strings, we can use certain operators with lists

- "+": List concatenation

In [15]:
"Hello" + " There!"

'Hello There!'

In [16]:
[1,2,3]+[4,5,6]+[7]

[1, 2, 3, 4, 5, 6, 7]

- "*": List Replication

In [17]:
"Hello! " * 5

'Hello! Hello! Hello! Hello! Hello! '

In [18]:
[0,1,2,3] * 5

[0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]